---
cssContent: '@font-face { font-family: "Century-BookCondensed"; src: url(assets/font/Century-BookCondensed.ttf) format("truetype"); font-weight: normal; font-display: swap;}'
---
{% extends "layouts/base.njk" %} 
{% block content %}
<canvas id="c2"></canvas>
<div class="info">
    <div class="info__header">
        <div class="vm__identity">
            <a href="/"> <h1>Vibrant Matters</h1> </a>
        </div>
    </div>
    <div class="info__main">
        <div class="info__covid">
            <div class="info__covid__head">
                <h1>Current Visitor Policy for Exhibition</h1>
            </div>
            <div class="info__covid__text">
                <p>
                    Green Hall Gallery exhibitions are open to in-person visits from Yale community members, including faculty, staff, students, and fully vaccinated guest speakers in compliance with the <a href="https://covid19.yale.edu/visitors-policy">Visitors Policy</a>. All individuals, regardless of vaccination status, are required to wear <a href="https://ehs.yale.edu/mask-guidance">masks</a> inside the exhibition and indoors while on campus. These requirements reflect current public health guidance and Yale’s COVID-19 health and safety program.  More information can be found here:</br>
                    &emsp;<a href="https://covid19.yale.edu/campus-life/events-gatherings-meetings">https://covid19.yale.edu/campus-life/events-gatherings-meetings</a></br>
                    &emsp;<a href="https://ehs.yale.edu/mask-guidance">https://ehs.yale.edu/mask-guidance</a></br>
                    &emsp;<a href="https://covid19.yale.edu/visitors-policy">https://covid19.yale.edu/visitors-policy</a></br>
                </p>
            </div>
        </div>
        <div class="info__ac">
            
        </div>
        <div class="info__container">
            <div class="info__info">
                <h1>Press Release</h1>
            </div>
            <div class="article__wrapper">
                <article>
                    {{ content | safe }}
                </article>
            </div>
        </div>
    </div>
</div>
{% endblock %}