.home {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2.75rem;
  font-size: 1.75rem;
  padding-inline: 2rem;
  @media screen and (max-width: 40em) {
    padding-inline: 1rem;
    font-size: 1.2rem;
  }

  h1,
  h2 {
    font-size: 2.5rem;
  }

  .home__header {
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;

    // .home__link,
    // .home__info {
    //   background: wheat;
    //   display: inline-block;
    // }

    @media screen and (max-width: 60em) {
      flex-direction: column;
      gap: 0.5rem;
    }
  }
  .groups {
    margin-top: 2rem;
    .artist__groups {
      margin-top: 2rem;
      width: 100%;
      columns: 2;
      @media screen and (max-width: 60em) {
        columns: 1;
        padding-block-end: 1.5rem;
        .group__1,
        .group__2 {
          margin-top: 2rem;
          .date {
            margin-bottom: 1rem;
          }
        }
      }
      .g__artists {
        padding-inline-start: 1.8rem;
        @media screen and (max-width: 60em) {
          padding-inline-start: 0rem;
        }
      }
      a {
        h5 {
          padding: 0;
          margin: 0;
        }
      }
      .artist {
        // display: inline-block;
        float: left;
        clear: both;
        line-height: 120%;
        @media screen and (max-width: 60em) {
          padding-block-end: 0.2rem;
          margin-inline-start: 0;
        }
      }
      .group__1 {
        display: inline-block;
      }
    }
  }
}
