.home {
  width: 100%;
  height: 100vh;
  color: #181818;
  position: relative;
  a,
  a:visited,
  a:hover,
  a:focus {
    color: #181818;
  }

  #c {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: hue-rotate(5deg) saturate(250%) contrast(175%);
    z-index: 999;
  }

  .home__header {
    display: flex;
    justify-content: space-between;
  }
  .artist__groups {
    width: 100%;
    display: flex;
    gap: 10rem;
    @media screen and (max-width: 40em) {
      flex-direction: column;
      gap: 2rem;
    }
    a {
      h5 {
        padding: 0;
        margin: 0;
      }
    }
    .artist {
      margin-inline-start: 2rem;
    }
    // .group__1 {
    //   .artist {
    //   }
    // }
    // .group__2 {
    //   .artist {
    //   }
    // }
  }
}
