---
pagination:
  data: artists
  size: 1
  alias: artist
  addAllPagesToCollections: true
layout: layouts/artists.njk
tags: artists
permalink: "/artists/{{artist.name | slug}}/"
templateEngineOverride: njk
eleventyComputed:
  title: "{{artist.name | safe }}"
  name: "{{artist.name | safe }}"
  group: "{{artist.group | safe }}"
  cssContent: '@font-face { font-family: "Century-BookCondensed"; src: url(../../assets/font/Century-BookCondensed.ttf) format("truetype"); font-weight: normal; font-display: swap;}'
---
{% set cssBlock =  '@font-face { font-family: "Century-BookCondensed"; src: url(../../assets/font/Century-BookCondensed.ttf) format("truetype"); font-weight: normal; font-display: swap;}'%}

<div class="artists">
  <div class="artist__header">
    <div class="image__logo">
      <a href="/"> <img src="../../assets/images/logo__vertical.jpg" alt=""> </a>
    </div>
    <a href="{{ pagination.href.next }}"><h1>Next</h1></a>
  </div>
  <div {% if artist.group == 2 %} class="artists__wrapper second"{% else %}class="artists__wrapper"{% endif %}>
    {%- if artist.group == 2 -%}
      <div class="artist__works">
        <div class="works">
          {%- for key, caption in artist.images -%}
            {% set src = "images/" + key.split(" ").join("-").toLowerCase().trim() + ".jpg" %}
            <div class="artist__img">
              {# {% image src, caption, "work" %} #}
              <img src="{{src}}" alt="{{caption}}" class="work"/>
              <p class="caption">{{caption}}</p>
            </div>
          {%- endfor -%}
        </div>
      </div>
      <div class="artist__container">
        <div class="artist__name">
          <h1>{{artist.name}}</h1>
        </div>
        <div class="artists__info">
          <p>{{artist.dob}}</p>
          <div class="social">
            <a href="{{artist.social.instagram.url}}" target="_blank">{{artist.social.instagram.username}}</a><br>
            <a href="{{artist.social.web.url}}" target="_blank">{{artist.social.web.url}}</a>
          </div>
        </div>
        <div class="artist__bio">
          <p>{{artist.bio}}</p>
        </div>
      </div> 
    {%- else -%}
      <div class="artist__container">
        <div class="artist__name">
          <h1>{{artist.name}}</h1>
        </div>
        <div class="artists__info">
          <p>{{artist.dob}}</p>
          <div class="social">
            <a href="{{artist.social.instagram.url}}" target="_blank">{{artist.social.instagram.username}}</a><br>
            <a href="{{artist.social.web.url}}" target="_blank">{{artist.social.web.url}}</a>
          </div>
        </div>
        <div class="artist__bio">
          <p>{{artist.bio}}</p>
        </div>
      </div> 
      <div class="artist__works">
        <div class="works">
          {%- for key, caption in artist.images -%}
            {% set src = "images/" + key.split(" ").join("-").toLowerCase().trim() + ".jpg" %}
            <div class="artist__img">
              {# {% image src, caption, "work" %} #}
              <img src="{{src}}" alt="{{caption}}" class="work"/>
              <p class="caption">{{caption}}</p>
            </div>
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}
  </div>
</div>