---
cssContent: '@font-face { font-family: "Century-BookCondensed"; src: url(assets/font/Century-BookCondensed.ttf) format("truetype"); font-weight: normal; font-display: swap;}'
---
{% extends "layouts/base.njk" %} 
{% block content %}
<canvas id="c"></canvas>
<div class="home">
  <div class="home__header">
    <div class="home__link">
        <a href="/"><h1>Vibrant Matters</h1> </a>
    </div>
    <div class="ppte">
      <h1>Painting and Printmaking <br>Thesis Exhibition</h1>
    </div>
    <div class="info">
      <h1><a href="/info">Info</a></h1>
    </div>
  </div>
  <div class="groups">
    <h2>Participating Artists</h2>
    <div class="artist__groups">
      <div class="group__1">
        <div class="date">
          <h2>Group I: Jan 31-Feb 10, 2022</h2>
        </div>
        <div class="g__artists">
          {%- for artist in collections.artists %}
            {%- if artist.data.group == 1 %}
            <div class="artist">
              <a href="{{ artist.url }}"><h2>{{ artist.data.name }}</h2></a>
            </div>
            {%- endif %}
          {%- endfor %}
        </div>
      </div>
      <div class="group__2">
        <div class="date">
          <h2>Group II: Feb 22-Mar 4, 2022</h2>
        </div>
        <div class="g__artists">
          {%- for artist in collections.artists %}
            {%- if artist.data.group == 2 %}
            <div class="artist">
              <a href="{{ artist.url }}"><h2>{{ artist.data.name }}</h2></a>
            </div>
            {%- endif %}
          {%- endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
